.container {
  background: #1c1a19;
  max-width: 90%;
  margin: 20px auto;
}

.hamb1 {
  height: 2px;
  width: 16px;
  left: 4px;
  top: 7px;
  background-color: whitesmoke;
  margin-bottom: 2px;
}

.hamb2 {
  height: 2px;
  width: 16.000000000000075px;
  left: 4px;
  top: 12px;
  background-color: whitesmoke;
  margin-bottom: 2px;
}

.hamb3 {
  height: 2px;
  width: 16.000000000000075px;
  left: 4px;
  top: 12px;
  background-color: whitesmoke;
  margin-bottom: 2px;
}

.header {
  display: flex;
  column-gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3c3a39;
}

.header div {
  cursor: pointer;
}

.name {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: white;
}

.text-container {
  width: 100%;
}

.welcome {
  position: static;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  margin: 12px;
}

.profession {
  position: static;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  margin: 12px;
}

.xp {
  position: static;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  margin: 12px;
  text-align: justify;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.social-media img {
  cursor: pointer;
}

.main {
  width: 100%;
  margin-top: -200px;
  height: 612.03px;
  display: flex;
  justify-content: end;
}
