html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 0;
  position: relative;
}

.container {
  max-width: 90%;
  margin: 20px auto;
}

.vector-section {
  background-color: #1c1a19;
}

.mobile-header {
  cursor: pointer;
}

.presentation {
  background-color: #1c1a19;
  padding: 1px 0 120px 0;
  background-image: url("img/illustration.png");
  background-repeat: no-repeat;
  margin: 0;
  background-position: right 300px;
  display: flex;
  flex-direction: column-reverse;
  z-index: 1;
}

.hamb1 {
  height: 2px;
  width: 16px;
  left: 4px;
  top: 7px;
  background-color: whitesmoke;
  margin-bottom: 2px;
}

.hamb2 {
  height: 2px;
  width: 16.000000000000075px;
  left: 4px;
  top: 12px;
  background-color: whitesmoke;
  margin-bottom: 2px;
}

.hamb3 {
  height: 2px;
  width: 16.000000000000075px;
  left: 4px;
  top: 12px;
  background-color: whitesmoke;
  margin-bottom: 2px;
}

.header {
  display: flex;
  column-gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3c3a39;
}

.header a {
  text-decoration: none;
}

.name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: white;
  padding: 26px 0;
}

.welcome {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #f55800;
  flex: none;
  margin: 220px 12px 12px 12px;
}

.profession {
  position: static;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  margin: 12px;
}

.xp {
  position: static;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  margin: 12px;
  text-align: justify;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  list-style: none;
  width: 70%;
  padding-left: 10px;
}

.social-media img {
  cursor: pointer;
}

.main {
  width: 100%;
  margin-top: -300px;
  height: 612.03px;
  display: flex;
  justify-content: end;
}

.works-section {
  width: 100%;
  background-color: #fff;
}

.title-works {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 24px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  margin: 0 0;
}

.vector {
  border: 1px solid #212121;
  margin: 0 24px;
}

.stories-section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.stories-section img {
  margin-top: 80px;
}

.stories-section h2 {
  font-family: "Crete Round", serif;
  font-weight: 400;
  color: #091e42;
  font-size: 32px;
  margin-bottom: 0;
}

.story {
  font-family: "Inter", sans-serif;
  margin: 12px 0;
  text-align: justify;
  font-size: 16px;
  color: #091e42;
}

.techs-container {
  display: flex;
  column-gap: 12px;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
  margin: 20px 0 32px 0;
}

.techs-container-skills {
  display: flex;
  column-gap: 12px;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
  margin: 12px 12px 12px 24px;
}

.techs {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #091e42;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin: 0;
  width: fit-content;
}

.button {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  background-color: #c94b05;
  text-decoration: none;
  padding: 12px;
  width: fit-content;
  margin-bottom: 24px;
}

.projects-container {
  background-color: #fff;
  background-image: url(img/placeholderproject.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.projects-container h2 {
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  padding-top: 84px;
  margin: 0 24px;
}

.projects-container p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #fff;
  margin: 0 24px;
}

.projects-container li {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #fff;
}

.button-project {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  display: block;
  background-color: #c94b05;
  text-decoration: none;
  padding: 12px 0;
  text-align: center;
  width: 100%;
  align-content: center;
  margin: 0 auto;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 50px;
  row-gap: 24px;
}

.separadtion {
  width: 100%;
  height: 120px;
}

.about {
  background-color: #1c1a19;
  background-image: url("img/frame.png");
  background-repeat: no-repeat;
  background-position: right 300px;
  margin-top: 120px;
  padding-bottom: 180px;
}

.about h2 {
  font-family: "Crete Round", sans-serif;
  color: #f55800;
  font-size: 62px;
  font-weight: 400;
  text-align: left;
  margin: 0 24px;
  padding-top: 120px;
}

.about p {
  font-family: "Inter", sans-serif;
  margin: 0 24px;
  color: #f4f5f7;
  padding: 24px 0;
}

.button-resume {
  display: flex;
  align-items: center;
  padding: 12px;
  background: #c94b05;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 24px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  width: fit-content;
}

.vector-about {
  border: 1px solid #fff;
  margin: 0 8%;
  background-color: #0d151e;
}

.languages {
  background-color: #1c1a19;
  color: #fff;
  padding-bottom: 16px;
}

.diamond {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding-top: 100px;
}

.rhomb {
  position: static;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 20.73px;
  background: #ff6b00;
  transform: rotate(-45deg);
}

.square {
  position: static;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 20.73px;
  background: #ff6b00;
}

.circle {
  position: static;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 20.73px;
  background: #ff6b00;
  border-radius: 150px;
}

.last {
  padding-bottom: 100px;
}

.languages ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  padding-left: 0;
  margin: 0;
}

.diamond h3 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.more-info {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  color: #172b4d;
  text-align: center;
  margin: 120px 24px 0 24px;
}

.items-form {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 24px;
  align-items: center;
}

.li {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
}

.li:hover {
  transform: translateX(10px);
}

.li input {
  width: 100%;
  border: none;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  margin-bottom: 14px;
  padding: 10px 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

textarea {
  width: 100%;
  height: 114px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: #fbf8f7;
  border: none;
  padding: 0 5px;
}

.vector-contact {
  border: 1px solid #dbd8d7;
  width: 100%;
  margin-bottom: 24px;
}

.touch {
  width: fit-content;
  padding: 12px;
  background: #c94b05;
  flex: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: bold;
  border-style: none;
}

.touch:hover {
  background-color: black;
}

.vector-form {
  border: 3px solid #0d151e;
  background-color: #0d151e;
  width: 134px;
  border-radius: 8px;
  margin: 24px 0 8px 0;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.li-button {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.social-bottom {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 70%;
  padding-left: 10px;
  margin: 0;
}

.vector-bottom {
  border: 1px solid #dbd8d7;
  width: 100%;
  margin: 124px 0 24px 0;
}

@media (min-width: 992px) {
  .header {
    justify-content: space-between;
    padding: 0 50px;
  }

  .mobile-header {
    display: none;
  }

  .desktop-header ul {
    display: flex;
    column-gap: 32px;
  }

  .desktop-header ul li {
    list-style: none;
  }

  .link {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: #fff;
    transition: all 0.5s ease-out;
  }

  .link:hover,
  .link:focus {
    background-color: rgba(94, 69, 69, 0.87);
    padding: 5px;
    color: #ff6b00;
    border: 1px solid #f55800;
  }

  .name {
    transition: all 0.5s ease-out;
  }

  .name:hover,
  .name:focus {
    background-color: rgba(94, 69, 69, 0.87);
    padding: 5px;
    color: #ff6b00;
    border: 1px solid #f55800;
    transform: rotate(10deg);
  }

  .presentation {
    background-image: none;
    display: grid;
    grid-template-columns: 0.5fr 2.25fr 2.25fr;
    align-items: center;
  }

  .about img {
    width: 50%;
    height: 50%;
    margin-top: 100px;
  }

  .stories-section img {
    width: 100%;
    margin: 0;
  }

  .background-desktop img {
    float: right;
    width: 90%;
  }

  .social-media {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }

  .works-section {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    align-items: center;
  }

  .vector {
    height: 1px;
    background-color: #212121;
    margin-right: 10%;
    margin-left: 0;
  }

  .title-works {
    padding: 135px 0;
  }

  .header-container img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    position: fixed;
    right: 100px;
    top: 80px;
    cursor: pointer;
  }

  .stories-section {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    column-gap: 24px;
  }

  .stories-section img:hover {
    width: 100%;
    margin: 0;
    transform: scale(1.02, 1.02);
  }

  .stories-section section {
    margin-right: 10%;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px 24px;
  }

  .languages ul {
    padding: 0 25%;
    align-items: flex-start;
  }

  .projects-container h2,
  .projects-container p {
    margin: 16px 16px;
  }

  .projects-container:first-child {
    background-image: url("img/imgplaceholder1.png");
    background-size: cover;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    border: solid 1px black;
  }

  .about h2 {
    font-size: 72px;
  }

  .stories-section h2 {
    font-size: 40px;
  }

  .projects-container:first-child h2,
  .projects-container:first-child p,
  .projects-container:first-child ul {
    display: none;
  }

  .projects-container:nth-child(2n) {
    background-image: url("img/imgplaceholder2.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .projects-container:nth-child(3n) {
    background-image: url("img/imgplaceholder3.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .projects-container:nth-child(4n) {
    background-image: url("img/imgplaceholder4.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .projects-container:nth-child(5n) {
    background-image: url("img/imgplaceholder2.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .projects-container:last-child {
    background-image: url("img/imgplaceholder3.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .projects-container:nth-child(2n) a,
  .projects-container:nth-child(3n) a,
  .projects-container:nth-child(4n) a,
  .projects-container:nth-child(5n) a,
  .projects-container:last-child a {
    display: none;
  }

  .container {
    max-width: 85%;
    margin: 20px auto;
  }

  .techs-container {
    margin: 20px 0 32px 0;
  }

  .button-project {
    margin: 0;
    width: 100%;
  }

  .story {
    font-size: 20px;
  }

  /* .multi {
    margin: 0;
  } */

  .about {
    background-image: none;
    display: flex;
    justify-content: center;
    padding-bottom: 130px;
    align-items: center;
    column-gap: 40px;
  }

  .about div {
    margin-left: 10%;
    text-align: justify;
    font-size: 20px;
  }

  .vector-about {
    margin-top: 0;
  }

  .container-languages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    margin: 130px 100px 0 100px;
  }

  .more-info {
    margin: 0;
    font-size: 40px;
    color: #262626;
  }

  .items-form {
    align-items: flex-start;
  }

  .social-bottom {
    column-gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
  }

  .vector-form {
    display: none;
  }

  .touch:hover,
  .button-resume:hover,
  .button-project:hover,
  .button:hover {
    cursor: pointer;
    background-color: #fff5e1;
    color: #f55800;
    border: 1px solid #f55800;
    transition: all 0.5s ease-in-out;
  }

  .text-1 {
    display: none;
  }

  .welcome {
    font-size: 72px;
  }

  .profession {
    font-size: 32px;
  }

  .xp {
    font-size: 20px;
  }

  .techs-container-skills {
    margin: 16px;
  }

  .title-modal {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    margin: 30px;
  }

  #techs-container {
    margin: 0 30px 30px 30px;
  }

  .img-modal {
    width: 100%;
    max-height: 450px;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 25px;
    margin: 0 30px;
  }

  .paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .paragraph {
    margin: 0;
    font-family: "Inter", sans-serif;
    line-height: 30px;
  }

  .button-container {
    display: flex;
    column-gap: 10px;
    justify-content: start;
    margin-bottom: 100px;
  }

  .modal-container {
    display: none;
  }


  .modal-container, .parent-modal {
    display: none;
  }

  .parent-modal {
    width: 100vh;
    height: 100vh;
    background-color: black;

  .error {
    width: auto;
    height: auto;
    background-color: rgb(141, 3, 3);
    color: #fff;
    padding: 5px;
  }
}

@media (max-width: 992px) {
  .desktop-header {
    display: none;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #3c3a39;
    padding-top: 50px;
    z-index: 1;
  }

  .mobile-header {
    position: fixed;
    right: 50px;
    top: 38px;
    z-index: 2;
  }

  .desktop-header ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 20px;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 24px;
    padding: 0;
    width: 100%;
  }

  .desktop-header ul li {
    width: 100%;
  }

  .linkm {
    opacity: 0;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0;
    padding-left: 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }

  .link {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
  }

  .background-desktop {
    display: none;
  }

  .about img {
    display: none;
  }

  .text-2 {
    display: none;
  }

  .vector-menu {
    border: 0.5px solid #6f6c6b;
    margin: 0;
    width: 100%;
    margin-top: 15px;
  }

  .vector-menu-l {
    border: 0.5px solid #fff;
    height: 57px;
    width: 120%;
    margin: 450px -10px 0 -25px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .vector-form-l {
    border: 3px solid #0d151e;
    background-color: #0d151e;
    width: 134px;
    height: 1px;
    border-radius: 8px;
    margin: 0;
  }


  .modal-container, .parent-modal {   display: none;
  }

  .show {
    opacity: 1;
  }

  .title-modal {
    font-family: "Roboto", sans-serif;
    color: #172b4d;
    font-size: 32px;
    margin-left: 15px;
  }

  .header-container {
    display: flex;
    justify-content: space-around;
  }

  .header-container img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .img-modal {
    width: 100%;
    height: auto;
  }

  .button-container {
    display: flex;
    column-gap: 19px;
  }

  #techs-container,
  .paragraph-container {
    margin: 10px 16px;
  }
  .error {
    width: auto;
    height: auto;
    background-color: rgb(141, 3, 3);
    color: #fff;
    padding: 5px;
  }
}

.desktop-header.activated {
  display: flex;
}

.hamb1.activated {
  transform: rotate(-45deg) translate(-10px, -4.5px);
}

.hamb2.activated {
  opacity: 0;
}

.hamb3.activated {
  transform: rotate(45deg) translate(-10px, 4.5px);
}

.name.activated {
  opacity: 0;
}

.header.activated {
  padding: 0;
}

.parent-modal.activated {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100em;
  height: 100em;
}

.modal-container.activated {
  display: block;
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: azure;
  margin: 40px 20px;
  overflow-y: auto;
}
